:root{
  --white: #fff;
  --gray-100:#e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-500:#7d7a7d;
  --gray-600: #39373d;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;
  --black: #000;

  --purple-300: #ae82c0;
  --purple-500: #8f27b8;
  --purple-700: #62166e;


  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--white);
}

